{% extends "show/base.html.twig" %}

{% block pageHeading %}
Liste des utilisateurs
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Séries liées</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr scope="row">
                <td/>
                <td>{{ user.getUsername() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{% for role in user.roles %}{{ role }}{% if not loop.last %},{% endif %}{% endfor %}</td>
                <td>{% for show in user.shows %}{{ show.name }}{% if not loop.last %},{% endif %}{% else %}Pas de série associée !{% endfor %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}